@font-face {
  font-family: 'TTHakgyoansimMulgyeolB';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimMulgyeolB.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('Pretendard-Medium.woff2') format('woff2'),
    url('Pretendard-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #F9F4EF;
  margin: 0;
  padding: 0; 
}

.container {
  position: relative;
}

#header {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
  display: block;
}

#title {
  text-align: center;
  position: absolute;
  top: -20%;
  left: 40%;
  z-index: 2;
  display: block;
  padding: 16px;
  font-family: 'TTHakgyoansimMulgyeolB';
  color: white;
  font-size: 96px;
}

#Line {
  text-align: center;
  position: absolute;
  top: 35.5%;
  left: 43.5%;
  z-index: 2;
  display: block;
  padding: 16px;
}

#text {
  font-family: 'Pretendard';
  font-size: 36px;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 39%;
  z-index: 2;
  display: block;
  padding: 16px;
  color: white;
}

#arrow {
  text-align: center;
  position: absolute;
  top: 15%;
  left: 90%;
  z-index: 2;
  display: block;
  padding: 16px;
  background-color: transparent;
  border: none;
}

#container-box {
  width: 1700px;
  height: 100px;
  background-color: #446430;
  border-radius: 30px;
  position: fixed;        
  bottom: 5%;              
  left: 50%;           
  transform: translateX(-50%); 
  z-index: 10;   
  box-shadow: 0px 0px 25px #444;  
  
}

#input-text {
  position: relative;
  width: 90%;
  height: 65%;
  top: -20%;
  left: 1%;
  border-radius: 20px;
  transform: translateY(50%);
  border: none;
  
}

input {
  font-size: 20px;
  padding-left: 3%;
  position: relative;
}

input::placeholder {
  font-size: 20px;
  position: relative;
}

#submit {
  width: 70px;
  height: 70px;
  margin-left: 1.8%;
  margin-top: 0.7%;
  border-radius: 22px;
  border: none;
  position: absolute;
}