* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto
}

body{
 -ms-overflow-style: none;
 }
 
::-webkit-scrollbar {
  display: none;
}

.top-section {
    position: relative;
    height: 850px;
    overflow: hidden;
}

.bottom-section {
    background-color: #F9F4EF;
    padding: 80px 0;
}


body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-use-select: none;
    user-select: none;
}

.main-bg {
    width: 100%;
    height: auto;
    display: block;
    pointer-events: none;
}

.main-title {
    width: 801px;
    height: 400px;
    background-image: url('../img/title.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    bottom: 720px;
    user-select: none;
    pointer-events: none;

    margin: 0 auto;
}

.main-boy {
    width: 220px;
    height: 79px;
    background-image: url('../img/boy.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    right: 90.5px;
    bottom: 818px;
    user-select: none;
    pointer-events: none;

    margin: 0 auto;
}

.startBtn {
    position: relative;
    display: inline-block;
    padding: 16px 34px;
    width: 250px;
    border-radius: 10px;
    font-family: "Pretendard";
    font-weight: 500;
    font-size: 24px;
    color: white;
    background-color: rgba(255, 255, 255, 0.223);
    border: 4px solid white;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    transition: 0.25s;
    left: 635px;
    bottom: 725px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
}


.startBtn:hover {
    background-color: rgba(255, 255, 255, 0.405);
    color: #ffffff;
    font-weight: bolder;
    transform: scale(1.05);
}

.scroll-arrow {
    width: 60px;
    position: relative;
    left: 475px;
    opacity: 0.9;
    animation: bounce 2s infinite;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
    bottom: 610px;
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(5px);
    }
}

#p-title1 {
    margin-bottom: 450px;
    text-align: center;
    font-size: 55px;
    color: #F9F4EF;
    font-family: 'Hakgyoansim MulgyeolOTF';
}

#p-title1 {
    text-align: center;
    font-size: 55px;
    color: #770909;
    font-family: 'Hakgyoansim MulgyeolOTF';
}

#p-title2 {
    position: absolute;
    left: 40vw;
    font-size: 55px;
    color: #F9F4EF;
    bottom: -193vw;
    z-index: 1;
    font-family: 'Hakgyoansim MulgyeolOTF';
}

.main-characters {
    width: 1500px;
    height: 1700px;
    background-image: url('../img/Main-characters.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    user-select: none;
    pointer-events: none;
    bottom: 520px;
    margin: 0 auto;
    z-index: 0;
}

.famousLine {
    color: #770909;
    position: relative;
    font-family: 'Hakgyoansim MulgyeolOTF';
    font-size: 25px;
    left: 550px;
}

.famousFrom {
    color: #770909;
    position: relative;
    font-family: 'Pretendard';
    font-size: 12px;
    left: 700px;
}

#line1 {
    position: relative;
    z-index: 2;
    bottom: 1910px;
    color: #770909;
}

#line2 {
    bottom: 1600px;
    left: 535px;
}

#line3 {
    bottom: 1300px;
}

#line4 {
    bottom: 985px;
    left: 520px;
}

#from1 {
    bottom: 1890px;
    left: 680px;
}

#from2 {
    bottom: 1575px;
    left: 690px;
}

#from3 {
    bottom: 1276px;
}

#from4 {
    bottom: 966px;
}

.footer-section {
    background-color: #F9F4EF;
}

/*.main-footer {
    background-image: url('../img/Main-footer.png');
    width: 2370px;
    height: 2561.43px;
    top: 3559px;
    left: -36px;
}*/

.footer-section > img {
    width: 100%;
    position: relative;
}