body {
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.main-title {
  width: 801px;            
  height: 400px;    
  background-image: url('../img/title.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative; 
  top: 80px;

  user-select: none;
  pointer-events: none;

  margin: 0 auto;
}

.main-boy {
  width: 220px;  
  height: 79px;
  background-image: url('../img/boy.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  right: 90px;
  bottom: 26px;

  user-select: none;
  pointer-events: none;

  margin: 0 auto;
}

.startBtn {
  position: relative;
  display: inline-block;
  padding: 12px 76px;
  border-radius: 10px;
  font-family: "Pretendard";
  font-weight: 500;
  font-size: 34px;
  color: white;
  background-color: rgba(255, 255, 255, 0.223);
  border: 4px solid white;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  transition: 0.25s;
  position: relative;
  left: 600px;
  top: 65px;

}

.startBtn:hover {
  background-color: rgba(255, 255, 255, 0.405); /* hover 시 더 뚜렷하게 */
  color: #ffffff;
  font-weight: bolder;
  transform: scale(1.05);
  cursor: pointer;
}

img {
  width: 60px;
  position: relative;
  top: 180px;
  left: 420px;
  opacity: 0.9;
  animation: bounce 2s infinite;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

