body {
    background-color: #770909;
    overflow: hidden;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
  }

.Question {
    color: #F9F4EF;
}

button {
    cursor: pointer;
    background-color: #F9F4EF;
    color: #770909;
    font-family: 'Pretendard';
    border: none;
    width: 780px;
    height: 100px;
    margin-top: 1.5%;
    border-radius: 25px;
    font-size: 24px;
    position: relative;
    top: 30px;
    z-index: 2;
}

button:hover {
    background-color: rgb(255, 255, 255);
    transform: scale(1.025);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

#dragon {
    pointer-events: none;
    position: absolute;
    bottom: 6vh;
    left: -1vw;
    margin: 0;
    z-index: 1;
}