
body {
    background-color: #446430;
}

*{
    overflow: hidden;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
  }

.Question {
    color: #F9F4EF;
}

button {
    cursor: pointer;
    background-color: #F9F4EF;
    color: #446430;
    font-family: 'Pretendard';
    border: none;
    width: 780px;
    height: 100px;
    margin-top: 3%;
    border-radius: 25px;
    font-size: 24px;
}

button:hover {
    background-color: rgb(228, 232, 190);
    transform: scale(1.025);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

@keyframes totoroBounce {
    0% {
        transform: scaleY(1);
    }
    25% {
        transform: scaleY(1.02);
    }
    50% {
        transform: scaleY(0.98);
    }
    75% {
        transform: scaleY(1.02);
    }
    100% {
        transform: scaleY(1);
    }
}

#totoro {
    position: absolute;
    left: 5vw;
    bottom: 0;
    margin: 0;
    z-index: -1;
    width: 100vw;
    height: 110vh;

    animation: totoroBounce 2s ease-in-out infinite;
    transform-origin: bottom center;
}
