body {
    background-color: #14121D;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; 
    position: relative;
  }

.Question {
        color: #F9F4EF;
}

#eye {
    top: 8vw;
    left: 11vw;
    position: absolute;
}

.eye1 {
    position: absolute;
    top: 16vw;
    left: 12.3vw;
    z-index: -1;
}

.eye2 {
    position: absolute;
    margin-top: 10.5vw;
    margin-left: 24vw;
    z-index: -1;
}


.tail {
    position: absolute;
    top: 38vw;
    left: 70%;
    transform: translate(-50%, 0);
    z-index: 1;
    width: 18vw;
    height: auto;
    pointer-events: none;
}

button {
    cursor: pointer;
    background-color: #F9F4EF;
    font-family: 'Pretendard';
    border: none;
    width: 780px;
    height: 100px;
    margin-top: 1.5%;
    border-radius: 25px;
    font-size: 24px;
}