* {
    background-color: #F9F4EF;
    overflow-y: visible !important;
}

html, body {
    overflow-x: hidden;
    overflow-y: visible !important;
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-align: center;
}

.top-section {
    color: #770909;
    text-align: center;
    padding-top: 60px;
}

.main-title {
    margin-top: 40px;
}

#title {
    font-family: 'Hakgyoansim MulgyeolOTF';
    font-size: 80px;
    line-height: 1;
}

#semi-title {
    font-family: 'Pretendard';
    font-size: 25px;
    font-weight: 600;
}

.first {
    margin-top: 15px;
}

.second {
    margin-top: 100px;
}

.redLine {
    display: block;
    width: 320px;
    margin-left: 800px;
    margin-top: 50px;
}

.howl_img {
    width: 440px;
    height: 410px;
    margin-right: 510px;
    margin-top: 70px;
}

.howl_icon {
    width: 310px;
    height: 70px;
    margin-top: 10px;
}

#info {
    font-family: 'Pretendard';
    font-style: normal;
    font-size: 19px;
    font-weight: 410;
    line-height: 32px;
    max-width: 900px;
    text-align: left;
}

.main-info {
    display: flex;
    margin-left: 980px;
    gap: 60px;
    margin-top: -385px;
    max-width: 1000px;
}

.point-info {
    margin-top: 20px;
}

.third {
    margin-top: 110px;
}

.rizz-info {
    margin-top: 20px;
}

.match-section {
    color: #446430;
}

.match-title {
    font-family: 'Pretendard';
    font-size: 40px;
    font-weight: 650;
    margin-top: 190px;
    margin-bottom: 60px;
}

.match-img {
    width: 466px;
    height: 470px;
    margin-top: -60px;
}

.match-name {
    margin-top: -90px;
}

#match-name {
    font-family: 'Hakgyoansim MulgyeolOTF';
    font-size: 60px;
}

.match-info {
    margin-top: 20px;
}

#match-info {
    font-family: 'Pretendard';
    font-style: normal;
    font-size: 20px;
    font-weight: 450;
    line-height: 32px;
    max-width: 900px;
    text-align: left;
}

.footer {
    position: relative;
    width: 100%;
    height: 100%;
}

.result-footer {
    width: 1700px;
    margin-top: 150px;
    position: relative;
    z-index: 1;
}

.result-arrow {
    position: absolute;
    background-color: #446430;
    top: 450px;
    left: 1060px;
    width: 60px;
    height: 120px;
    z-index: 2;
    animation: bounce-horizontal 2s infinite ease-in-out;
}

#footer-info {
    background-color: #446430;
    position: absolute;
    top: 490px;
    left: 580px;
    font-size: 55px;
    font-family: 'Hakgyoansim MulgyeolOTF';
    font-weight: 500;
    color: #F9F4EF;
    z-index: 3;
}

.no-drag {
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: auto;
}

#footer-info-link span {
    user-select: none;
}

.match-img.no-drag:hover,
.result-arrow.no-drag:hover {
    cursor: pointer;
}

@keyframes bounce-horizontal {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10px);
    }
}