* {
    background-color: #F9F4EF;
    overflow-y: visible !important;
}

html, body {
    overflow-x: hidden;
    overflow-y: visible !important;
    margin: 0;
    padding: 0;
    font-size: 16px; 
}

.top-section {
    color: #446430;
    text-align: center;
    padding-top: 3.75rem; 
}

.main-title {
    margin-top: 2.5rem; 
}

#title {
    font-family: 'Hakgyoansim MulgyeolOTF';
    font-size: 5rem; 
    line-height: 1;
}

#semi-title {
    font-family: 'Pretendard';
    font-size: 1.5625rem; 
    font-weight: 600;
}

.first {
    margin-top: 0.9375rem; 
}

.second {
    margin-top: 6.25rem; 
}

.greenLine {
    display: block;
    width: 20vw;
    margin-left: 42.5vw; 
    margin-top: 3.125rem; 
}

.totoro_img {
    width: 27.5rem; 
    height: 33.75rem; 
    margin-right: 31.875rem; 
    margin-top: 1.25rem;
}

.totoro_icon {
    width: 19.375rem; 
    height: 4.375rem;
    margin-top: 0.625rem; 
}

#info {
    font-family: 'Pretendard';
    font-style: normal;
    font-size: 1.1875rem;
    font-weight: 410;
    line-height: 2rem;
    max-width: 56.25rem;
    text-align: left;
}

.main-info {
    display: flex;
    margin-left: 53.125rem;
    gap: 3.75rem; 
    margin-top: -31.25rem; 
    max-width: 62.5rem; 
}

.point-info {
    margin-top: 1.25rem; 
}

.third {
    margin-top: 5rem;
}

.rizz-info {
    margin-top: 1.25rem;
}

.match-section {
    color: #770909;
}

.match-title {
    font-family: 'Pretendard';
    font-size: 2.5rem;
    font-weight: 650;
    margin-top: 11.875rem;
    margin-left: 40.625rem; 
    margin-bottom: 3.75rem; 
}

.match-img {
    width: 29.125rem;
    height: 29.375rem; 
    margin-left: 40.625rem;
    margin-top: -3.75rem;
}

.match-name {
    margin-left: 50rem;
    margin-top: -5.625rem;
}

#match-name {
    font-family: 'Hakgyoansim MulgyeolOTF';
    font-size: 3.75rem;
}

.match-info {
    margin-left: 37.5rem;
    margin-top: 1.25rem;
}

#match-info {
    font-family: 'Pretendard';
    font-style: normal;
    font-size: 1.25rem;
    font-weight: 450;
    line-height: 2rem;
    max-width: 56.25rem;
    text-align: left;
}

.footer {
    position: relative;
    width: 100%;
    height: 100%;
}

.result-footer {
    width: 106.25rem;
    margin-top: 9.375rem;
    position: relative;
    z-index: 1;
}

.result-arrow {
    position: absolute;
    background-color: #446430;
    top: 28.125rem; 
    left: 66.25rem; 
    width: 3.75rem; 
    height: 7.5rem; 
    z-index: 2;
    animation: bounce-horizontal 2s infinite ease-in-out;
}

#footer-info {
    background-color: #446430;
    position: absolute;
    top: 30.625rem;
    left: 36.25rem; 
    font-size: 3.4375rem; 
    font-family: 'Hakgyoansim MulgyeolOTF';
    font-weight: 500;
    color: #F9F4EF;
    z-index: 3;
}

.no-drag {
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: auto;
}

#footer-info-link span {
    user-select: none;
}

.match-img.no-drag:hover,
.result-arrow.no-drag:hover {
    cursor: pointer;
}

@keyframes bounce-horizontal {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(0.625rem);
    }
}