* {
    background-color: #F9F4EF;
    overflow-y: visible !important;
}

html,
body {
    overflow-x: hidden;
    overflow-y: visible !important;
    margin: 0;
    padding: 0;
}


.top-section {
    color: #446430;
    text-align: center;
    padding-top: 60px;
}

.main-title {
    margin-top: 40px;
}

#title {
    font-family: 'Hakgyoansim MulgyeolOTF';
    font-size: 90px;
    line-height: 1;
}

#semi-title {
    font-family: 'Pretendard';
    font-size: 30px;
    font-weight: 700;
    word-spacing: 3px;
}

.first {
    margin-top: 15px;
}

.second {
    margin-top: 160px;
}

.greenLine {
    display: block;
    width: 350px;
    margin-left: 780px;
    margin-top: 40px;
}

.totoro_img {
    width: 600px;
    height: 630px;
    margin-right: 510px;
    margin-top: 20px;
}

.totoro_icon {
    width: 400px;
    height: 100px;
    margin-top: 50px;
}

#info {
    font-family: 'Pretendard';
    font-style: bold;
    font-size: 23px;
    font-weight: 600;
    line-height: 40px;
    max-width: 900px;
    text-align: left;
}

.main-info {
    display: flex;
    margin-left: 1020px;
    gap: 60px;
    margin-top: -500px;
    max-width: 1000px;

}

.point-info {
    margin-top: 30px;
}

.third {
    margin-top: 60px;
}

.rizz-info {
    margin-top: 30px;
}

.match-section {
    color: #770909;
}

.match-img {
    width: 630px;
    height: 660px;
    margin-left: 670px;
    margin-top: -60px;
}

.match-title {
    font-family: 'Pretendard';
    font-size: 50px;
    font-weight: 650;
    margin-top: 150px;
    margin-left: 700px;
    margin-bottom: 60px;
}

.match-name {
    text-align: center;
    margin-top: -90px;
}

#match-name {
    font-family: 'Hakgyoansim MulgyeolOTF';
    font-size: 80px;
}

.match-info {
    text-align: center;
    margin-top: 20px;
}

.footer {
    position: relative;
    width: 100%;
    height: 100%;
}

.result-footer {
    width: 2000px;
    margin-top: 150px;
    position: relative;
    z-index: 1;
}

.result-arrow {
    position: absolute;
    background-color: #446430;
    top: 520px;
    left: 1200px;
    width: 60px;
    height: 120px;
    z-index: 2;
}

#footer-info {
    background-color: #446430;
    position: absolute;
    top: 550px;
    left: 680px;
    font-size: 65px;
    font-family: 'Hakgyoansim MulgyeolOTF';
    font-weight: 500;
    color: #F9F4EF;
    z-index: 3;
}

.no-drag {
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: auto;
}

#footer-info-link span {
    user-select: none;
}

.match-img.no-drag:hover,
.result-arrow.no-drag:hover {
    cursor: pointer;

}

@keyframes bounce-horizontal {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(10px);
    }
}

.result-arrow {
    animation: bounce-horizontal 2s infinite ease-in-out;
}